name: Build Project

on:
  push:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential nasm clang llvm binutils mtools lld

      - name: Run make
        run: |
            make clean
            make
            
      - name: Upload build results
        uses: actions/upload-artifact@v4 # 确保使用 2025 年推荐的 v4 版本
        with:
          name: os-image          # 产物包的名字
          path: build/disk.img    # 编译出的文件路径
          retention-days: 30       # 自动保存天数

